/node_modules
/public/hot
/public/css
/public/js
/public/storage
/public/vendor
/storage/*.key
/vendor
/.phpintel
/.idea
.env
.env.testing
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
.prettierrc
_ide_helper.php
_ide_helper_models.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
nohup.out
.env.testing
/supervisord.*
